.rights {
  box-sizing: border-box;
  width: 100%;
  height: 150px;
  background: #dbdbdb;
  flex-wrap: wrap;
  ul {
    list-style: none;
    display: flex;
    text-align: left;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 10px;
    padding: 20px;
    font-size: 20px;
    color: #0779e4;
    }
}
p {
  color: grey;
  text-align: left;
  margin-left: 37px;
  margin-top: -20px;
}
li {
  padding: 10px;
}
.social {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-size: 25px;
  margin: -20px;
  padding-right: 110px;
  color: #0779e4;
}
li::after {
  content: "•";
  color: #0779e4;
  padding-left: 15px;
}
li:nth-child(4):after {
  content: none;
}
@media screen and (max-width: 480px)
and (min-width: 320px){
}
